<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer src="script.js"></script> -->
    <!-- <link rel="stylesheet" href="static.style.css"> -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome to the Application</h1>
    </center>    

    <main>

        <div class="container-2">
            <a id="start-anchor" class="btn-hero-2" <a href="{{ url_for('login') }}">Login Page</a>
            <br>
        </div>

    </main> 
    
</body>
</html>