<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer src="script.js"></script> -->
    <!-- <link rel="stylesheet" href="static.style.css"> -->
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome to the Application</h1>
    </center>    
    <main>
        <div class="container">
            <select name="Task" id="checklist_task">
                <option value="FCTC">Friction compenstation checklist</option>
                <option value="IPC_CL">IPC Checklist</option>
            </select>
        </div>

    </main> 
</body>
</html>